@import "utils";

body {
  margin: 0;
  background: #fff;
}

.find {
  &__wrapper {
    width: 714px;
    height: 308px;
    overflow: hidden;
  }
  &__image {
    transition: all 0.5s ease-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}

body,
html,
p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
}
