@import "utils";

$lenght: (
  "" : 57px,
  "-about" : 106px,
  "-recent": 151px);

@each $name, $size in $lenght {
  .nav__active#{$name}:hover .nav__link::after {
    position: absolute;
    content: "";
    background: #707070;
    width: #{$size};
    height: 2px;
    bottom: -10px;
    left: 0;
    animation: anim 0.3s ease;
  }
}

.header {
  height: 256px;
  background-color: #f8f8f8;

  &__wrap {
    padding: 105px 0 0;
  }
  &__container {
    margin: 0 auto;
    width: $contentWidth;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: #143774;
    font-size: 33px;
    font-family: Lora, serif;
    font-weight: 400;
  }
  &__quote {
    color: #1792d2;
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
  &__navigation {
    align-self: center;
  }
}

.nav {
  &__list {
    display: flex;
    list-style-type: none;
    position: relative;
  }
  &__item {
    margin-left: 30px;
    padding: 10px;

  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    letter-spacing: 3.2px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
  }
  &__active-link::after {
    position: absolute;
    content: "";
    background: #707070;
    width: 57px;
    height: 2px;
    bottom: -10px;
    left: 0;
  }
}

@keyframes anim {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translate(0);
  }
}
